@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* custom */
button {
  cursor: pointer;
}
nav {
  background: rgba(255, 255, 255, 0.025);
  backdrop-filter: blur(4px);
}
.nav-theme-icon:hover {
  box-shadow: 0 0 25px rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
}
.sheet-main-content {
  display: block;
  padding: 1px 20px;
  border-radius: 15px;
}
.sign-in-btn:hover,
.sheet-btn:hover,
.sheet-signin:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.sign-up-btn,
.sheet-signup {
  background-color: rgba(255, 255, 255, 0.25);
}
.sign-up-btn:hover,
.sheet-signup:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

@media (max-width : 64rem) {
  .center-logo {
    justify-content: start;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
  }
}

@media (max-width : 1000px) {
  .right-nav {
    grid-column-start: 3;
  }
}
.nav-dropdown {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-dropdown:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-dropdown-content {
  background-color: rgba(255, 255, 255, 0.9);
}
@media (min-width : 1000px) {
  .sheet {
    display: none;
  }
}
.sheet-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width : 1000px) {
  .left-nav,
  .right-nav-desktop {
    display: none;
  }
}
.sheetContent {
  background-color: rgba(82, 43, 15, 0.8);
}
.sheet-main-content:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.sheet-theme-icon {
  background-color: rgb(114, 63, 26, 0.5);
}
.sheet-theme-icon:hover {
  background-color: rgb(114, 63, 26);
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
.rdp-nav {
  backdrop-filter: none !important;
}
.location{
    background-color: aqua;
}
@media (max-width : 748px){
    .hero-title{
        font-size: 4rem;
    }
}
.switch-btn:hover{
  background-color: oklch(100% 0.00011 271.152);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.prompt-search-btn:hover{
  background-color: oklch(90.079% 0.14897 93.849);
}
.location-btn:hover{
  background-color: oklch(93.443% 0.07568 96.159);
}
.checkIn-btn:hover{
  background-color: oklch(98.316% 0.02914 96.417);
}
.checkout-btn:hover{
  background-color: oklch(98.316% 0.02914 96.417);
}
.guest-btn:hover{
  background-color: oklch(100% 0.00011 271.152);
}
.filter-search:hover{
  background-color: oklch(90.079% 0.14897 93.849);
}
.location-dropdown-content{
  background-color: rgba(255, 251, 235, 0.75);
}
.guest-dropdown-content{
  background-color: rgba(255, 251, 235, 0.75);
}
.location-dropdown:hover{
  background-color: rgb(255, 251, 235);
}
.guest-dropdown:hover{
  background-color: rgb(255, 251, 235);
}


/* shadCn */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
